*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    color:rgb(28, 0, 104) ;
    text-align: center;
}

/* create container and text elements */
.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 39, 71), #1c003f);
}

.header h1{
    font-size: 50px;
    position: absolute;
    margin-top: 30px;
    left: 200px;
    color: rgb(0, 34, 65);
    font-family: 'Bebas Neue', sans-serif;
}

.background{
    width: 100%;
    height: 100px;
    background: rgb(216, 239, 255);
    position: absolute;
    align-items: center;
}

.header img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 40px;
}

.search {
    position: absolute;
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 70px;
    background: rgb(254, 255, 255);
    margin-left: 900px;
    margin-top: 50px;
    filter: drop-shadow(4px 0px 4px rgba(12, 0, 54, 0.25));
    
} 

.search button{
    margin-left: 250px;
    margin-top: 4px;
    border: none;
    background-color: transparent;
}

.search form input{
    position: absolute;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Bebas Neue';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    border:none;
    margin-left: 10px;
    margin-top: 1px;
    text-align: left;
}


.game form button{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: -540px;
    background-color: rgb(203, 227, 255);
    filter: drop-shadow(4px 0px 4px rgba(0, 155, 202, 0.25));
    border-radius: 30px;
    cursor: pointer;
    border:none;

}

.game form button img{
    border-radius: 10px;
    margin-top: 10px;
    
}

.game h1{
    font-size: 30px;
    margin-top: -10px;
    color: rgb(0, 78, 146);

}

.coming-soon{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: 460px;
    background-color: rgba(203, 227, 255, 0.555);
    border-radius: 30px;
    border:none;

}

.coming-soon h1{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
    color: rgb(192, 226, 255);
    width: 200px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;

}

.game form button img{
    border-radius: 10px;
    margin-top: 10px;
    
}