@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(0, 53, 99) ;
    text-align: center;
}

/* create container and text elements */
.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 39, 71), #1c003f);
}

.box{
    width: 100%;
    height: 30px;
}

.todolist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 20px;
}

/* header */
.header{
    width: 100%;
    height: 150px;
    background-color: beige;
    margin-top: -450px;
    border-radius: 20px 20px 0 0;

}

.header img{
  margin-top: 30px;  
  border-radius: 20px 20px 0 0;
}

.bi-clipboard2-fill{
    color: rgb(195, 203, 233);
}


.header h1{
    margin-top: -180px;
    font-size: 75px;
    color: rgb(253, 235, 235);
}


.add-task form input{
    border-radius: 20px;
    width: 300px;
    height: 35px;
    margin-top: -10px;
    color: rgb(92, 0, 15);
    padding: 5px;
    font-size: 18px;
}

.add-task button {
    width: 40px;
    padding: 5px;
    background-color: #e47562;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
  }

/* home button */
.home form button{
    position: absolute;
    top: 40px;
    left: 70px;
    opacity: 0.;
    background-color: transparent;
    cursor: pointer;
    border:none;

}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li{
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  position: relative;
  width: 400px;
  text-align: left;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #886868;
  color: #fff;
  text-decoration: line-through;
}

.delete{
  font-family: "Fredoka", sans-serif;
  color: red;
  font-size: 20px;
  border:none;
}

/* scroll bar when it exists */
::-webkit-scrollbar{
    width: 15px;
  }
  ::-webkit-scrollbar-track{
    background: #dad7cc
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(243, 145, 128), #f8c8f3);
    border-radius: 10px;
  }
